#particles-js{
    height: 145vh;
}

svg{
    bottom: 30px;
}

.main__presentation{
    flex-direction: row;
    justify-content: center;
    height: 140vh;
    margin-top: -130px;
}

.main__presentation--card{
    border-radius: 10%;
    margin-left: 20px;
}

.main__presentation h1,
.main__presentation h2,
.main__presentation h3{
    text-align: right;
}

.me__about--title,
.skills__about--title,
.main__certificates--title{
    font-size: 3rem;
}

.skills__about--title{
    left: calc(100% - 220px);
}

.titles__containers,
.titles__containers-certificates{
    width: 400px;
    height: 40px;
}

.main__me{
    margin-top: -30px;
}

.me__about__container{
    flex-direction: row;
    justify-content: space-evenly;
}

.me__about--description{
    max-width: 370px;
    font-size: 1.7rem;
}

.skills__about--container{
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.skills__about--description{
    margin-top: 10px;
    max-width: 370px;
    font-size: 1.7rem;
    text-align: right;
}


.main__certificates--description{
    margin-top: 10px;
    margin-right: 30px;
    max-width: auto;
}

.main__certificates--container{
    flex-direction: row;
    justify-content: space-around;
}